<a href="https://colab.research.google.com/github/shivanisharma01/SentimentAnalysis/blob/main/Twitter_R_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tweepy
from tweepy import Cursor
import re
import datetime
import pandas as pd
import warnings
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
warnings.filterwarnings('ignore')


api_key = 'GuU196zC1yOAoa1owi2XjRqIp'
api_secret_key = 'Gs5JZTK5Fn5IpjvaeCgDPowrOxJls3dXXG1JjmpCcy1c0AVsVS'
access_token = '769211980934774784-Z5yCI4dJKS4ygfzGAAsUgzETKtFk0xE'
access_token_secret = 'rrB0IeafAwi5oCr8XfPUe5lTDPgq1L3AQskh3FjoYKwkc'

In [ ]:
# Connect to Twitter API using the secrets
auth = tweepy.OAuthHandler(api_key, api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [ ]:
def get_tweets(query):
    tweets = []
    for status in Cursor(api.search, lang="en", q=query, tweet_mode='extended', retweet_mode = 'extended', truncated=False).items(1000):
        tweets.append(status)
            
    return tweets

search_keyword = "Storm OR Winter OR Canada OR Temperature OR Flu OR Snow OR Indoor OR Safety"
tweets = get_tweets(search_keyword)
len(tweets)

1000

In [ ]:
def raw_data(tweets):
    rawData = []
    for tweet in tweets:
        if hasattr(tweet, 'full_text'):
            rowData = {"screen_name": tweet.user.screen_name, "user_id": tweet.user.id, "created_at": tweet.created_at, "full_text": tweet.full_text,"retweet_count": tweet.retweet_count}
            rawData.append(rowData)
        
    return rawData

In [ ]:
rawData = raw_data(tweets)
# print(rawData)
DataF = pd.DataFrame(rawData)
print(DataF)
DataF['created_at'].dt

        screen_name              user_id          created_at  \
0    classicsunrise           2312921736 2020-12-05 20:45:24
1            Rask65            438974934 2020-12-05 20:45:24
2    MyMuseAndMusic  1325952158508986370 2020-12-05 20:45:23
3        fablefolly  1246547924689051655 2020-12-05 20:45:23
4          dantarte            145925314 2020-12-05 20:45:23
..              ...                  ...                 ...
995     ericsynnett   802358955188043776 2020-12-05 20:43:11
996    NotteChimera  1017983057884864512 2020-12-05 20:43:11
997   AngelaMcclard            324500784 2020-12-05 20:43:11
998  vmarketingsite           1195742076 2020-12-05 20:43:11
999    MRCPromotion            422016286 2020-12-05 20:43:11

                                             full_text  retweet_count
0    RT @colinasher: Shantell Green is an incarcera...             22
1    Canadian Trumpism in full view. The main strea...              0
2    RT @RodLacroix: Me: It's 30 degrees and snowin...              5
3    RT @bigsharkguy: persephone          my happin...           7679
4                     DisneyWorld Canada? Quebec City!              0
..                                                 ...            ...
995  RT @inklessPW: ùêòùê®ùêÆ ùê∞ùê¢ùê•ùê• ùêßùê®ùê≠ ùêõùêûùê•ùê¢ùêûùêØùêû ùê∞ùê°ùêöùê≠ ùê≤ùê®ùêÆ ùêö...            336
996  @JocularFemme Oh yeah, I know. It‚Äôll be a whir...              0
997  RT @davidaxelrod: Remember when @realDonaldTru...            138
998  Nice digital  Desk Clock With Calendar and Tem...              0
999  RT @MRCPromotion: @BopAlloy ‚ÄòWHAT‚ÄôS IT WITHOUT...              1

[1000 rows x 5 columns]

In [ ]:
# Converting time to timestamp #
import time 
import datetime

DataF['timestamp'] = DataF[['created_at']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)
DataF.head()
DataF.to_csv("twitter_timestamp.csv")

In [ ]:
df = pd.read_csv("twitter_timestamp.csv")
df.head()

,Unnamed: 0,screen_name,user_id,created_at,full_text,retweet_count,timestamp
0,0,classicsunrise,2312921736,2020-12-05 20:45:24,RT @colinasher: Shantell Green is an incarcera...,22,1607201124
1,1,Rask65,438974934,2020-12-05 20:45:24,Canadian Trumpism in full view. The main strea...,0,1607201124
2,2,MyMuseAndMusic,1325952158508986370,2020-12-05 20:45:23,RT @RodLacroix: Me: It's 30 degrees and snowin...,5,1607201123
3,3,fablefolly,1246547924689051655,2020-12-05 20:45:23,RT @bigsharkguy: persephone my happin...,7679,1607201123
4,4,dantarte,145925314,2020-12-05 20:45:23,DisneyWorld Canada? Quebec City!,0,1607201123

In [ ]:
df.drop('created_at', inplace=True, axis=1)

In [ ]:
df.head()

,Unnamed: 0,screen_name,user_id,full_text,retweet_count,timestamp
0,0,classicsunrise,2312921736,RT @colinasher: Shantell Green is an incarcera...,22,1607201124
1,1,Rask65,438974934,Canadian Trumpism in full view. The main strea...,0,1607201124
2,2,MyMuseAndMusic,1325952158508986370,RT @RodLacroix: Me: It's 30 degrees and snowin...,5,1607201123
3,3,fablefolly,1246547924689051655,RT @bigsharkguy: persephone my happin...,7679,1607201123
4,4,dantarte,145925314,DisneyWorld Canada? Quebec City!,0,1607201123

In [ ]:
df = pd.read_csv("twitter_timestamp.csv")
df.head()

,Unnamed: 0,screen_name,user_id,created_at,full_text,retweet_count,timestamp
0,0,classicsunrise,2312921736,2020-12-05 20:45:24,RT @colinasher: Shantell Green is an incarcera...,22,1607201124
1,1,Rask65,438974934,2020-12-05 20:45:24,Canadian Trumpism in full view. The main strea...,0,1607201124
2,2,MyMuseAndMusic,1325952158508986370,2020-12-05 20:45:23,RT @RodLacroix: Me: It's 30 degrees and snowin...,5,1607201123
3,3,fablefolly,1246547924689051655,2020-12-05 20:45:23,RT @bigsharkguy: persephone my happin...,7679,1607201123
4,4,dantarte,145925314,2020-12-05 20:45:23,DisneyWorld Canada? Quebec City!,0,1607201123

In [ ]:
df.drop(columns=['user_id', 'screen_name', 'user_id','full_text', 'retweet_count', 'Unnamed: 0','created_at'])

      timestamp
0    1607201124
1    1607201124
2    1607201123
3    1607201123
4    1607201123
..          ...
995  1607200991
996  1607200991
997  1607200991
998  1607200991
999  1607200991

[1000 rows x 1 columns]